.mobile-logo {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.ml-0 {
    margin-left: 0 !important;
}
.main-logo {
    width: 350px !important;
}
@media (max-width: 768px) {
    .main-logo {
        width: 100% !important;
    }
}
.about-image {
    background: url(../../frontend/images/assets/about.webp) !important;
    background-size: cover !important;
}
.service-icon {
    width: 150px;
    height: 150px;
}
.card-style-twentyTwo h4 {
    margin-top: 50px !important;
}

.card-style-twentyTwo img.icon {
    filter: grayscale(100%) brightness(80%) contrast(90%);
}
.partner-title {
    font-size: 38px !important;
}
.partner-logo {
    filter: grayscale(100%) brightness(80%) contrast(90%);
    transition: filter 0.3s ease-in-out; /* Smooth transition effect */
}

.partner-logo:hover {
    cursor: pointer;
    filter: grayscale(0%);
}
.partner-logo img{
    margin: auto;
    height: 100% !important;
    justify-content: center !important;
}
.t-25{
    top: 15px !important;
}
.partner-logo-style-2 {
    filter: grayscale(100%) brightness(80%) contrast(90%);
}
.fw-700 {
    font-weight: 700 !important;
}
.active{
    color: #cfff45 !important;
}
.creatx {
    transition: color 0.1s ease-in-out; /* Smooth transition effect for color */
}
.creatx:hover {
    color: #729017 !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.pt-40{
    padding-top: 40px !important;
}
.text-white {
    color: #fff !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
.webaddress-contact {
    color: #29594b;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
  }

  .webaddress-contact:hover {
    color: #3a7a65; /* Slightly lighter shade for hover */
    border-bottom: 1px solid #3a7a65; /* Underline effect using border */
  }

  .media-img {
    max-height: 700px; /* Adjust this value to match your form's height */
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .border-left-none {
    border-left: none !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.h-312{
    height: 312px !important;
    object-fit: cover;
}
.justify-center{
    justify-content: center !important;
}
.text-center-price{
    text-align: center !important;
}
.position-initial{
    position: initial !important;
}
.active-service{
    color: #29594b !important;
}
.active-service-icon{
    filter: brightness(0) saturate(100%) invert(28%) sepia(18%) saturate(1008%) hue-rotate(112deg) brightness(99%) contrast(94%) !important;
}
.icon-service{
    filter: brightness(0) saturate(100%) invert(61%) sepia(4%) saturate(245%) hue-rotate(104deg) brightness(94%) contrast(90%);
}
.service-details .service-nav-item a.active, .service-details .service-nav-item a:hover{
    filter: brightness(0) saturate(100%) invert(28%) sepia(18%) saturate(1008%) hue-rotate(112deg) brightness(99%) contrast(94%) !important;
}
.mt-42{
    margin-top: 42px !important;
}